<%if @notes%>
  <ul class='notelist'>
    <%@notes.each do |note|%>
      <!-- <li><a href='/read/<%=note.id%>'>ID: <%=note.id%></li> -->
      <li><a href='/read/<%=note.id%>'>Title: <%=note.title%></li>
      <li><a href='/update/<%=note.id%>'>Update</li>
      <li><a href='/delete/<%=note.id%>'>Delete</li>
      <br>
    <%end%>
  </ul>
<%end%>



